process {

    withName: '.*DRAGENA_GTC2VCF' {
        publishDir = [
            path: { "${params.outdir}/final" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*DRAGENA_IDAT2GTC' {
        publishDir = [
            path: { "${params.outdir}/gtc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}