process {
    withName: '.*BWAMEM2_INDEX' {
        publishDir = [
            path: { "${params.outdir}/final" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
}
    withName: '.*BWAMEM2_INDEX' {
            memory = 120.GB
    	    cpus = 16
    }
}
